<form class="root-form" [formGroup]="form">
  <label>
    Select payment method:
    <select formControlName="method">
      <option *ngFor="let method of methods" [value]="method">
        {{ method }}
      </option>
    </select>
  </label>

  <form *ngIf="form.value.method === 'paypal'" formGroupName="paypal">
    <label>Paypal Email: <input formControlName="email" type="email"/></label>
  </form>
  <form *ngIf="form.value.method === 'other'" formGroupName="other">
    <label>Other Email: <input formControlName="email" type="email"/></label>
  </form>
</form>

<pre>
  {{ form.value | json }}

  Validity: {{ form.valid }}

  Errors: {{ form.errors | json }}
</pre>
